<!DOCTYPE html>
<!--
    @Description: v-model在选项中的应用
    @Author: Christp
    @Time: 2022/3/17
-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div id="app">
  <!--1.选择一个-->
  <label for="">
    <select name="abc" id="" v-model="fruit">
      <option value="苹果">苹果</option>
      <option value="香蕉">香蕉</option>
      <option value="菠萝">菠萝</option>
      <option value="橘子">橘子</option>
      <option value="猕hotel">猕hotel</option>
    </select>
  </label>
  <h2>您选择的水果是: {{fruit}}</h2>


  <!--2.选择多个-->
  <label for="">
    <select name="abc" id="s" v-model="fruits" multiple>
      <option value="苹果">苹果</option>
      <option value="香蕉">香蕉</option>
      <option value="菠萝">菠萝</option>
      <option value="橘子">橘子</option>
      <option value="猕hotel">猕hotel</option>
    </select>
  </label>
  <h2>您选择的水果是: {{fruits}}</h2>
</div>

<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      message: 'Hello',
      fruit: '猕hotel',
      fruits: []
    }
  })
</script>

</body>
</html>