<!DOCTYPE html>
<html lang="en">
<!--
    @Description: v-model在复选框中的使用
    @Author: Christp
    @Time: 2022/3/15
-->
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div id="app">
  <!--1.checkbox单选框-->
<!--  <label for="license">-->
<!--    <input type="checkbox" id="license" v-model="isAgree">同意协议-->
<!--  </label>-->
<!--  <h2>您选择的是: {{isAgree}}</h2>-->
<!--  <button :disabled="!isAgree">下一步</button>-->
  
  <!--2.checkbox多选框-->
  <label for="hobbies">
    <input type="checkbox" value="篮球" v-model="hobbies">篮球
    <input type="checkbox" value="足球" v-model="hobbies">足球
    <input type="checkbox" value="乒乓球" v-model="hobbies">乒乓球
    <input type="checkbox" value="羽毛球" v-model="hobbies">羽毛球
  </label>
  <h2>您的爱好有: {{hobbies}}</h2>
</div>
 
<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      message: 'Hello',
      isAgree: false, //v-model绑定单选框使用bool类型
      hobbies: [] //v-model绑定多选框使用数组类型
    }
  })
</script>

</body>
</html>